.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}
.featurette {
  padding-top: 5rem; /* Vertically center images part 1: add padding above and below text. */
  overflow: hidden; /* Vertically center images part 2: clear their floats. */
}
.featurette-image {
  margin-top: -2rem; /* Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */
}

/* Give some space on the sides of the floated elements so text doesn't run right into it. */
.featurette-image.pull-left {
  margin-right: 40px;
}
.featurette-image.pull-right {
  margin-left: 40px;
}

/* Thin out the marketing headings */
.featurette-heading {
  font-size: 24px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

.circle-1 {
  width:140px;
  height: 140px;
}

.circle-2 {
  width:512px;
  height: 512px;
}

.lead {
  font-size: 18px;
}

body {
  font-family: 'Source Sans Pro', sans-serif;

}

.container {
  margin-top:10rem;
}

.navbar-default {
  width: 80%;
  margin: 0 auto;
  margin-top: 5rem;
  background-color: transparent;
  border: transparent;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
  background-color: transparent;
  border-bottom: 5px solid #E47297;
}

.navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus, 
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
  color: #E47297;
}

#historia {
  text-align: justify;
}

#historia > h3 {
  text-align: center;
}

#content {
  padding-bottom: 5rem;
  border-bottom: 1px solid #eee;
  font-size: 16px;
}

#meninas-digitais {
  margin-top: 5rem;
  width: 70%;
}

#logo-principal {
  margin-bottom: 10rem;
}


#footer {
  margin-top:3rem;
}

#apoio {
  text-align: center;
}

#apoio > h4 {
  text-align: center;
}

#apoio > #sbc-logo {
  width: 10%;
  margin-right: 5rem;
}

#apoio > #sch-logo {
  width: 30%;
}

#footer {
  margin-bottom: 5rem;
}

.dados {
  margin-bottom: 2.5rem;
}